*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 15px 0;
    background-color: #2E86C1;

}

.medsos ul li{
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;

}

.container:after{
    content: '';
    display: block;
    clear: both;
}

header h1{
    float: left;
    padding: 5px 5px;
    color: #2E86C1;
}

header ul{

    color: #666;
    float: right;
}

header ul li{
    display: inline-block;
    

}
header ul li a{
    padding: 15px 15px;
    display: inline-block;
}

header ul li a:hover{
    background-color: #2E86C1;
    color: white;
}

.active{
    background-color: #2E86C1;
    color: white;
}

.banner{
    height: 60vh;
    background-image: url('../image/banner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 134, 193, 0.6);

}

.banner h2{
    color: white;
    z-index: 1;
    padding: 25px 25px;
    border: 3px solid ;
}
section{
    padding: 50px 0;
}

section h3{
    text-align: center;
    padding: 20px 0;
    color: #2E86C1;
    margin-bottom: 20px;
}

.about{
    padding-bottom: 100px;
    text-align: center;
}
.about p{
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;

}

.task{
    background-color: #D6EAF8;
}

.task h3{
    color: white;
    padding: 30px;
    margin :auto;
    /* border: 3px solid; */
    background-color: #2E86C1;
}

.box{

    color: #2E86C1;
    
}

.box::after{
    content: '';
    clear: both;
}

.box .col-2{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float:left;
    
}

.box .col-3{
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float:left;
    
    
}

.box .col-3 h4{
    padding: 20px;
    
}
.icon{
    width: 70px;
    height: 70px;
    border: 1px solid #2E86C1;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    display: inline-block;
    font-size: 20px;
    margin: auto 30px;
}

.box .col-2 h4{
    margin: 20px 0;
    
}

footer{
    padding: 5px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

.bg-loader{
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-loader .loader{
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 50%;
    border-top-color: #2E86C1;
    border-left-color: #2E86C1;
    border-bottom-color: #2E86C1;
    animation: swing .5s linear infinite;
}


.label{
    background-color: #2E86C1;
    color: white;
}

@keyframes swing {
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}

/* .container .artikel{
    padding: 15px 15px;
    text-align: center;
    background-color: #2E86C1;
    margin: 20px;
    color: white;

} */
